.container {
    max-width: 100%;
    height: 100%;
    
    img {
        max-width: 100%;
        height: auto;
        display : flex;
        align-items: center;
        justify-content: center;
        object-fit: fill;
    }

    .box{
        position: absolute;
        border: 2px solid red;
        resize: both;
        overflow: auto;
    }
}